.header {
  :global .ant-menu-horizontal {
    & > .ant-menu-submenu {
      float: right;
    }
    border: none;
    display: inline-block;
  }
  position: relative;
  height: 47px;
  background-color: #fff;
}
